<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New player</title>
</head>
<body>

<form th:method="POST" th:action="@{/players}" th:object="${player}">
    <!-- Новый блок для отображения глобальной ошибки из BindingResult -->
    <div th:if="${#fields.hasGlobalErrors()}" style="color: red; font-weight: bold; margin-bottom: 15px;">
        <!-- Перебираем глобальные ошибки и выводим их -->
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
<!--    <input type="hidden" th:field="*{id}" id="id">-->
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br/>
    <label for="city">Enter city: </label>
    <input type="text" th:field="*{city}" id="city"/>
    <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<a href="/players">Back</a>
</body>
</html>