<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Place</title>
</head>
<body>
Name: <a th:text="${place.getName()}">place</a>
<br>
Address: <a th:text="${place.getAddress()}">place</a>
<br>
Administrator phone number: <a th:text="${place.getAdministrator_phone_number()}">place</a>
<br>
Place was created: <a th:text="${place.getCreated()}">place</a>
<br>
last update: <a th:text="${place.getUpdated()}">place</a>
<br/>
<hr/>
<a th:href="@{/places/{id}/edit(id=${place.getId()})}">Edit</a>
<br/>
<hr/>
<form th:method="POST" th:action="@{/places/{id}/delete(id=${place.getId()})}">
  <input type="submit" value="DELETE place" onclick="return confirm('Удалить место?');"/>
</form>
<hr/>
<a th:href="@{/places}">Back</a>
</body>
</html>